* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Темная тема */
html[data-theme="dark"] {
	--button-text-color: white;
	--button-background-color: #353535;

	--background-color-hover: #1f1f1f;

	--main-text-color: white;
	--text-color: #bdbdbd;

	--background-color: #0f0f0f;
}
/* Светлая тема */
html[data-theme="light"] {
	--button-text-color: #474747;
	--button-background-color: #e2e2e2;

	--background-color-hover: #d3d3d3;

	--main-text-color: black;
	--text-color: #bdbdbd;

	--background-color: white;
}

body {
	margin: 0;
	font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: var(--background-color);
	transition: background-color 200ms linear;
}

h1 {
	text-align: center;
	color: var(--main-text-color);
}

h2 {
	font-size: small;
	color: var(--text-color);
	line-height: 1.6;
	font-weight: 600;
}

p {
	font-weight: 500;
	color: #4b4b4b;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 24px;
}
.content {
	padding: 40px 20px 40px 20px;
}

.guide {
	max-width: 500px;
	margin: 0 auto;
}
.add-task-input {
	padding: 10px;
	width: 240px;
	border-radius: 12px;
	transition: all 0.15s ease;
	font-size: 21px;
	font-family: inherit;
	border: 1px solid #bdbdbd;
	background: var(--background-color);
}
.add-task-input:focus {
	-webkit-box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
	outline: none;
	width: 300px;
}
.wrapper-tasks {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: 0 auto;
}

.wrapper__text {
	margin: 0 auto;
	max-width: 450px;
}

.done {
	text-decoration: line-through;
}
.tasks {
}
.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 350px;
	padding: 6px 8px;
	margin-bottom: 20px;
	border: 1px solid #bdbdbd;
	border-radius: 12px;
	cursor: pointer;
}

.task:hover {
	background: var(--background-color-hover);
	-webkit-box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.btn {
	padding: 1px 1px;

	font-family: inherit;
	background-color: transparent;
	border: none;
	font-size: 18px;
}

.theme-toggle__groups {
	display: flex;
	margin: 0 auto 40px auto;
	max-width: 500px;
	justify-content: end;
	align-items: center;
}

.theme-toggle {
	width: 50px;
	height: 50px;
	background-color: var(--button-background-color);
	border-radius: 12px;
	color: var(--text-color);
	transition: linear color 50ms linear;
	transition: background-color 100ms linear;
	font-size: 24px;
}

.theme-toggle:hover {
	background-color: var(--background-color-hover);
}

.theme-toggle:active {
	transform: scale(0.99);
}

.add {
	width: 150px;
	padding: 10px;
	border-radius: 12px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	color: var(--button-text-color);
	background-color: var(--button-background-color);
	transition: color 50ms linear, background-color 50ms linear;
}

.add:hover {
	background: var(--background-color-hover);
	-webkit-box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.add:active {
	transform: scale(0.99);
}
.remove {
	cursor: pointer;
}

.remove:active {
	transform: scale(0.9);
}

.text {
	color: var(--main-text-color);
}

.wrapper__info {
	display: flex;
	max-width: 500px;
	justify-content: space-between;
	margin: 20px auto 0 auto;
	margin-bottom: 30px;
	border-radius: 12px;
	padding: 5px;
}

.wrapper__progressbar {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.add-input-wrapper {
	display: flex;
	width: 500px;
	justify-items: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 624px) {
	.add {
		position: flex;
		width: 100%;
	}
	.add-input-wrapper {
		flex-direction: column;
		font-size: 22px;
	}
	.add-task-input {
		margin-bottom: 15px;
		margin-right: 0;
		font-size: 22px;
		width: 100%;
	}
	.tasks {
		width: 100%;
	}

	.task {
		width: 100%;
		padding: 10px;
		font-size: 24px;
	}
	.add-task-input:focus {
		-webkit-box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 3px 10px 20px 0px rgba(0, 0, 0, 0.1);
		outline: none;
		width: 108%;
	}
}
